---
import type { Post } from "@/utils/content";
import PostFeedTitle from "./PostFeedTitle.astro";
import PostFeedMeta from "./PostFeedMeta.astro";

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<div>
  {posts.map((post) => (
    <article class="py-4 first:pt-0">
      <PostFeedTitle
        post={post}
        class="font-display text-2xl leading-tight font-medium md:text-4xl"
      />

      <div class="mt-1">
        <PostFeedMeta
          post={post}
          showReadingTime
          accentCategory
        />
      </div>

      {
        post.data.description && (
          <p class="mt-4 max-w-xl text-base leading-relaxed text-muted-foreground">
            {post.data.description}
          </p>
        )
      }
    </article>
  ))}
</div>