---
import { getPostUrl, type Post } from "@/utils/content";
import { slugify } from "@/utils/text";

type Props = {
  post: Post;
  class?: string;
};

const {
  post,
  class: className = "",
} = Astro.props;

const url = getPostUrl(post.id, post.filePath);
const titleSlug = slugify(
  post.data.title.replaceAll(".", "-")
);
---

<a
  href={url}
  class="no-underline transition-colors duration-200 hover:text-accent"
>
  <h2
    class={className}
    transition:name={titleSlug}
  >
    {post.data.title}
  </h2>
</a>