---
import { type Post, getPostUrl } from "@/utils/content";
import { slugify, calculateReadingTime } from "@/utils/text";
import siteConfig from "@/site.config";
import PostFeedMeta from "./PostFeedMeta.astro";
import PostFeedTitle from "./PostFeedTitle.astro";

export type PostFeedVariant =
  | "featured"
  | "timeline";

type Props = {
  post: Post;
  variant: PostFeedVariant;
};

const { post, variant } = Astro.props;

const titleClassMap = {
  featured: "font-display text-2xl leading-tight font-medium md:text-4xl",
  timeline: "font-display text-lg leading-snug font-medium",

};

const titleClass = titleClassMap[variant];

---
<article class="flex flex-col space-y-3 py-4 first:pt-0">
  <PostFeedTitle
    post={post}
    class={titleClass}
  />
  { variant === "featured" &&
    post.data.description && (
      <p class="max-w-xl text-base leading-relaxed text-muted-foreground">
        {post.data.description}
      </p>
    )
  }
  <PostFeedMeta
    post={post}
    showReadingTime
    accentCategory
  />
</article>