---
// PostFeed.astro
import { type Post } from "@/utils/content";
import SectionHeader from "@/components/SectionHeader.astro";
import PostFeedItem, { type PostFeedVariant } from "./PostFeedItem.astro";

export type { PostFeedVariant };

type Props = {
  posts: Post[];
  variant?: PostFeedVariant;
  sectionTitle?: string;
  sectionDesc?: string;
};

const {
  posts,
  variant = "timeline",
  sectionTitle,
  sectionDesc,
} = Astro.props;
---

<section>
  <SectionHeader title={sectionTitle} subheading={sectionDesc} />

  {
    posts.map((post) => (
      <PostFeedItem post={post} variant={variant} /> 
    ))
  }

</section>