---
import { getCollection, render } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import {
  getAllPages,
  getPageSlug,
  type Page,
} from "@/utils/content";

export const getStaticPaths = async () => {
  const RESERVED = new Set([ "archive", "search", "about", "home-intro" ]);

  const allPages = await getCollection(
    "pages",
    ({ id, data }) =>
      !data.draft &&
      !RESERVED.has(id)
  );

  const pages = await getAllPages();

  return allPages.map((page) => ({
    params: {
      slug: getPageSlug(
        page.id,
        page.filePath
      ),
    },
    props: {
      page,
    },
  }));
};

type Props = {
  page: Page;
};

const { page } = Astro.props;
const { Content } = await render(page);
---

<PageLayout entry={page}>
  <div class="app-prose page-content">
    <Content />
  </div>
</PageLayout>
