---
import { slugify } from '@/utils/text';

interface Props {
  title?: string;
  subheading?: string;
  transitionName?: string;
}
const { title, subheading, transitionName } = Astro.props;
---
<section class="flex flex-col mb-4">
  {title && (
    <h1 
      class="font-display text-3xl leading-tight font-medium md:text-4xl"
      transition:name={transitionName}
    > 
      {title} 
    </h1>
  )}
  
  <slot name="meta" />

  {subheading && (
    <p class="mt-4 max-w-xl text-base leading-relaxed text-muted-foreground">
      {subheading}
    </p>
  )}
  <div class="divider" />
</section>
